/* Generell styling för alla hemsidor */
*{
    margin: 0px;
}

.grid_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 500px 150px;
    grid-template-areas: 
    "he"
    "na"
    "ma"
    "fo"
    ;
}

.meny_list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.meny_link{
    text-decoration: none;
    font-size: 27px;
    font-family: 'Courier New', Courier, monospace; 
    padding: 15px;
    color: black;
}

.meny_link:hover{
    background-color: rgba(245, 245, 245, 0.801);
}

header{
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'Courier New', Courier, monospace; 

}

nav{
    grid-area: na;
    background-color: white;

}

main{
    grid-area: ma;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/kock.jpg");

}

footer{
    grid-area: fo;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;

}

/* Styling för bilder */

.a_la_carte{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mat{
    