/* Generell styling för alla hemsidor */
*{
    margin: 0px;
}

.grid_wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 4fr 1fr;
    grid-template-areas: 
    "he"
    "na"
    "ma"
    "fo"
    ;
}

.meny_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.meny_link{
    text-decoration: none;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    color: black;
}

.meny_link:hover{
    background-color: rgb(202, 199, 199);
}

header{
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

nav{
    grid-area: na;
    background-color: white;

}

main{
    grid-area: ma;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;

}

footer{
    grid-area: fo;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;

}