/* Generell styling för alla hemsidor */
*{
    margin: 0px;
}

.grid_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 65px auto 80px;
    grid-template-areas: 
    "he"
    "na"
    "ma"
    "fo"
    ;
}

.meny_list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.meny_link{
    text-decoration: none;
    font-size: 27px;
    font-family: 'Courier New', Courier, monospace; 
    padding: 15px;
    color: black;
}

.meny_link:hover{
    background-color: rgba(245, 245, 245, 0.801);
}

header{
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7BFF85;
    font-family: 'Courier New', Courier, monospace; 

}

nav{
    grid-area: na;
    background-color: white;
    display: grid;
    border: solid 2px black;
}

main{
    grid-area: ma;
}

footer{
    grid-area: fo;
    background-color: #7BFF85;

}

#framsida_text{
    text-align: center;
    font-size: 65px;
    font-family: 'Courier New', Courier, monospace; 
    color: black;
}

#info::before{
    content: "\a";
    white-space: pre;
}

/* Styling för bilder */

#bakgrundsbild{
    width: 100%;
    height: auto;
}

.a_la_carte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.mat{
    width: 400px;
    height: auto;
    
}